.link {
	text-decoration: none;
	color: #009933;
}

.link2 {
	text-decoration: none;
	color: white;
}

.link2:hover {
	color: yellow;
}

.cap {
	background-color: #496798;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:32px;
	color: #FFFFFF;
	vertical-align:top;
}

.lang {
	background-color: #496798;
	text-align: left;
	float: left;
}

.url_header {
	float:right;
	font-size:16px;
	font-weight:bold;
	color:#009933;
	font-family: Arial, Helvetica, sans-serif;
}

.menu {
	background-color: #496798;
	font-family: Times, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	border-style: inset;
	border-width: medium;
	width: 150px;
	padding-top: 10px;
	font-weight: bold;
	text-align:left;
}

.cos {
	background-color: #496798;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: black;
	border-style: inset;
	border-width:medium;
	padding-top: 10px;
	padding: 20px 20px 20px 20px;
	border-color: white;
}
.codi {
	font-family:monospace;
	font-size: 10,5px;
	background-color:white;
}

.vn {
	color: red;
	font-weight: bold;
}
